<<<<<<< Updated upstream
body {
  background: linear-gradient(180deg, rgba(37, 38, 41, 0.24) 26.22%, #27292d),
    linear-gradient(0deg, #171544, #171544);
  opacity: 1;
  transition: opacity 0.5s;
  color: white;
  font-family: Proxima Nova Regular, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}
#rightside {
  margin-top: 80px;
  width: 50px;
  padding: 8px;
  height: 50vh;
}
.updown {
  border: 1px solid gray;
  border-radius: 5px;
  padding-left: 8px;
}
.outsideupdown {
  padding: 8px;
}

#container {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  position: relative;
  padding-top: 24px;
  margin: 0 auto;
}
#postdisplay {
  width: 80%;
}

#postcontainer {
  width: 60%;
  height: 100vh;
  overflow: scroll;
}
#postcontainer::-webkit-scrollbar {
  display: none;
}
#postimg {
  width: 100%;
}
#addcmnt {
  background-color: rgb(77, 77, 78);
  width: 80%;
  height: 70px;
  color: white;
  border-radius: 5px;
}
#comntbtn {
  border: none;
  border-radius: 5px;
  color: white;
  background-color: gray;
  cursor: pointer;
}
#title {
  width: 80%;
  word-wrap: break-word;
}
#part {
  width: 80%;
  margin-left: 0px;
  color: gray;
}
#avatar {
  border-radius: 50%;
  width: 20px;
}
#username {
  color: greenyellow;
  vertical-align: top;
}
#cmnttime,
#replies {
  vertical-align: top;
}
#cmnt {
  width: 100%;
}
#card {
  width: 80%;
}
#card:hover {
  background-color: rgba(184, 184, 184, 0.253);
  width: 80%;
  border-radius: 5px;
}
#card span,
#cmnt {
  font-size: 13px;
}
#cmnt {
  margin-bottom: 10px;
}
#votescount {
  vertical-align: top;
}
.posts {
  margin-left: 10px;
  overflow-x: inherit;
  margin-top: 500px;
}
=======
body {
  background: linear-gradient(180deg, rgba(37, 38, 41, 0.24) 26.22%, #27292d),
    linear-gradient(0deg, #171544, #171544);
  opacity: 1;
  transition: opacity 0.5s;
  color: white;
  font-family: Proxima Nova Regular, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}
#rightside {
  margin-top: 80px;
  width: 50px;
  padding: 8px;
  height: 50vh;
}
.updown {
  border: 1px solid gray;
  border-radius: 5px;
  padding-left: 8px;
}
.outsideupdown {
  padding: 8px;
}

#container {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  position: relative;
  padding-top: 24px;
  margin: 0 auto;
}
#postdisplay {
  width: 80%;
}

#postcontainer {
  width: 60%;
  height: 100vh;
  overflow: scroll;
}
#postcontainer::-webkit-scrollbar {
  display: none;
}
#postimg {
  width: 100%;
}
#addcmnt {
  background-color: rgb(77, 77, 78);
  width: 80%;
  height: 70px;
  color: white;
  border-radius: 5px;
}
#comntbtn {
  border: none;
  border-radius: 5px;
  color: white;
  background-color: gray;
  cursor: pointer;
}
#title {
  width: 80%;
  word-wrap: break-word;
}
#part {
  width: 80%;
  margin-left: 0px;
  color: gray;
}
#avatar {
  border-radius: 50%;
  width: 20px;
}
#username {
  color: greenyellow;
  vertical-align: top;
}
#cmnttime,
#replies {
  vertical-align: top;
}
#cmnt {
  width: 100%;
}
#card {
  width: 80%;
}
#card:hover {
  background-color: rgba(184, 184, 184, 0.253);
  width: 80%;
  border-radius: 5px;
}
#card span,
#cmnt {
  font-size: 13px;
}
#cmnt {
  margin-bottom: 10px;
}
#votescount {
  vertical-align: top;
}
.posts {
  margin-left: 10px;
  overflow-x: inherit;
  margin-top: 500px;
}
>>>>>>> Stashed changes
